<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Index page</title>
   <link rel="stylesheet" href="css/style.css" />
 </head>
 <body>
  <%- include('header.ejs') %>
  <div class="main">
    <h2>Number of Todo's :</h2>
    <h3>Overdue :  <%=OD.length%></h3>
    <h3>DueToday : <%=DT.length%> </h3>
    <h3>DueLater : <%=DL.length%></h3>
  </div>
   <script src="script.js"></script>
 </body>
</html>